*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: hsl(228 ,45%,44%);
}

body {
    font-family:'spartan';
    font-size: 14px;
}
.top-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10% 4% 5%;
    background:url('./images/bg-pattern-top-mobile.svg') no-repeat;
}
.ratings {
    background: hsl(300,24%,96%);
    margin-top: 5%;
    border-radius: 10px;
}
.star {
    letter-spacing: 5px;
}
h1 {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 700;
    color: hsl(303,10%,53%);
}

.star-content{
    color: hsl(300,43%,22%);
    font-weight: 700;
    padding: 5%;
    padding-bottom: 0;
}
.content {
    color: hsl(303,10%,53%);
    margin: 5% 0 10% 0;
    line-height: 20px;
    font-weight: 500;
       
}
.bottom-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0% 4% 5%;
    line-height: 1.5;
    color: hsl(300,24%,96%);
    background: url('./images/bg-pattern-bottom-mobile.svg') no-repeat;
}

.box {
    border-radius: 8px;
    padding: 2rem;
    margin-top: 5%;
    background: hsl(300,43%,22%);
}

.profile {
    border-radius: 100%;
    width: 45px;
    margin-right: 5%;
}
.about {
    color: hsl(333,80%,67%);
    margin-top: 5%;
}
.intro {
    display: inline-block;
    margin-top: -5%;
}
.description {
    margin: 2rem 0 1rem 0;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 5% 0 2%;
}
@media screen and (min-width:950px){
    body{
        background-image: url('./images/bg-pattern-bottom-desktop.svg');
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }    

    .top-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 140px;
        background: url('./images/bg-pattern-top-desktop.svg')no-repeat;
        padding: 8% 11% 0%;
    }

    .content{
        margin-bottom: 0%;

    }    
    .title {
        text-align: left;
    }
    .ratings {
        padding: 0% 0% 3% 0%;
        margin-left: -20%;
        margin-top: 4%;
        width: 27.5rem;

    }
    .rating2 {
        margin-left: -10%;
    }
    .ratings3 {
        margin-left: 0%;
    }

    .star, .star-content{
        display: inline-block;
    }

    .bottom-section {
        background: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: gap 2rem;
        padding: 0% 11% 1%;
    }

    .box2 {
        margin-top: 20%;
    }

    .box3 {
        margin-top: 40%;
    }
}    